---
import LegalLayout from "@/layouts/LegalLayout.astro";
---

<LegalLayout title="Right of Withdrawal" description="Information about the right of withdrawal for consumers of Buqon GmbH.">
  <p>
    If you wish to withdraw from the contract, please fill out this form and send it back.
  </p>

  <p>To Buqon GmbH, Alemannenstrasse 11, 6830 Rankweil, Austria:</p>

  <p><em>
    I/We (*) hereby withdraw from the contract concluded by me/us (*) for the purchase of the following goods (*)/the provision of the following service (*)
  </em></p>

  <p><em>Ordered on (*)/received on (*)</em></p>

  <p><em>Name of consumer(s)</em></p>

  <p><em>Address of consumer(s)</em></p>

  <p><em>Signature of consumer(s) (only for paper notifications)</em></p>

  <p><em>Date</em></p>

  <p>(*) Delete as applicable.</p>

  <p>
    The direct costs of returning the goods are borne by the customer. If a loss in value of the goods is due to the goods being used in a manner that was not necessary for checking the condition, the customer is liable for this loss in value.
  </p>

  <p>
    It is pointed out that according to § 18 Para 1 No 3 FAGG (Austrian Distance and Off-Premises Transactions Act), the right of withdrawal does not exist if the goods are made to customer specifications or are clearly tailored to personal needs.
  </p>

  <p>
    For more information about the right of withdrawal, please refer to our <a href="/en/terms/">Terms and Conditions</a>.
  </p>
</LegalLayout>
