---
import LegalLayout from "@/layouts/LegalLayout.astro";
---

<LegalLayout title="Impressum" description="Impressum der Buqon GmbH nach § 5 ECG, § 25 MedienG und § 14 UGB.">
  <p>Impressum nach § 5 ECG, § 25 MedienG und § 14 UGB:</p>

  <p>
    <strong>Buqon GmbH</strong><br />
    Alemannenstrasse 11<br />
    6830 Rankweil<br />
    Österreich
  </p>

  <p>Telefon: <a href="tel:+43720310244">+43 720 310 244</a></p>
  <p>Web: <a href="https://www.buqon.com">www.buqon.com</a></p>

  <p>
    Firmenbuchnummer: FN574870y<br />
    Firmenbuchgericht: Landesgericht Feldkirch<br />
    Vertretungsbefugte Personen: Simon Eiler
  </p>

  <p>Mitglied der österreichischen Wirtschaftskammer</p>

  <p>Aufsichtsbehörde: Bezirksverwaltungsbehörde Feldkirch</p>

  <p>UID: ATU77845717</p>

  <p>
    Berufsrecht: Gewerbeordnung:
    <a href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10007517" target="_blank" rel="noopener noreferrer">
      https://www.ris.bka.gv.at
    </a>
  </p>

  <p>
    Es wird auf die Möglichkeit einer Streitbereinigung im Wege einer
    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE" target="_blank" rel="noopener noreferrer">
      Online-Streitbeilegungsplattform
    </a>
    (Art 14 Abs 1 S 1 ODR-VO) und nationaler Verbraucherschlichtungsstellen hingewiesen.
    Die Auftragnehmerin ist zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht bereit.
  </p>

  <p>Blattlinie: Informationen rund um Outdoormöbel und Grillgeräte</p>

  <p>Fotocredit: Buqon GmbH</p>
</LegalLayout>
